body {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  padding-top: 25px;
}

.navbar-light .navbar-toggler {
  position: absolute;
  right: 25px;
}

.top {
  background: #E0E1E2;
  padding-bottom: 48px;
}

.navbar {
  padding-top: 25px;
}

/* .header {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  margin-bottom: 94px;
} */

.header_logo_white {
  display: none;
}

/* BURGER START */

/* .header_btn {}

.header_menu {
  background: #2F3132;
  text-align: center;
}

.header_menu_list {}

.header_menu_list_item {
  list-style-type: none;
  margin-bottom: 32px;
}

.header_menu_list_text {
  text-decoration: none;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #C4C4C4;
} */

/* BURGER END */

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
  justify-content: center;
}

.top_img {
  margin-top: 94px;
  height: 256px;
  background-image: url(/img/MX-Master\ 1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: 67px;
}

.heading {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #2F3132;
  margin-bottom: 20px;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #2F3132;
  margin-bottom: 0px;
}

.text_margin {
  margin-top: 20px;
  margin-bottom: 31px;
  margin-left: 34px;
  margin-right: 34px;
}

.top_text-margin {
  margin-left: 59px;
  margin-right: 59px;
}

.top_arrow {
  margin-top: 40px;
  padding-bottom: ;
  48px;
}

.center-content {
  display: flex;
  justify-content: center;
}

.bluetooth {
  padding-top: 42px;
  background: #EDEDED;
}

.bluetooth_icon {
  margin-bottom: 27px;
}

.bluetooth_heading {
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  color: #C4C4C4;
  margin-top: 31px;
}

.bluetooth_img {
  height: 218px;
  background-image: url(/img/High_Resolution_PNG-MX\ Master\ 3\ LEFT\ GRAPHITE\ 1.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}

.top_svg {
  width: 42px;
  height: 22px;
}

.info {
  padding-top: 70px;
  padding-bottom: 77px;
}

.carousel {
  margin-bottom: 100px;
}

.carousel-indicators [data-bs-target] {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-image: url(/img/wood-texture.png);
}

.info_text {
  margin-left: 67px;
  margin-right: 61px;
}

.info_content {
  margin-top: 30px;
  margin-bottom: 28px;
  display: flex;
  justify-content: center;
  gap: 6px;
}

.info_item {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-basis: 166px;
  padding-left: 17px;
  padding-right: 17px;
  min-height: 94px;
  flex-direction: column;
  margin-bottom: 28px;
}

.info_item-heading {
  margin-bottom: 5px;
}

.info_heading {
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #2F3132;
}

.flow {
  padding-top: 70px;
  padding-bottom: 218px;
  background-image: url(/img/High_Resolution_JPG-MX\ Lifestyle\ 2346\ 1.png);
  background-color: #EDEDED;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.flow_ol {
  margin-top: 36px;
  padding-left: 54px;
}

.text_flow {
  margin-bottom: 23px;
  text-align: left;
  width: 222px;
}

.settings {
  padding-top: 70px;
  background: #EDEDED;
}

.settings_slider-img {
  display: none;
}

.settings_slider {
  margin: 35px 22px 98px 23px;
}

.settings_content {
  background: #C4C4C4;
  padding: 23px 22px 26px 29px;
}

.settings_icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.text_settings {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  margin-left: 5px;
  margin-right: 11px;
}

.settings_img {}

.settings_icons {
  display: flex;
  justify-content: space-between;
}

.mouse_text {
  padding-top: 70px;
  padding-bottom: 20px;
}

.mouse_img {
  height: 310px;
}

.mouse_img_1 {
  background-image: url(/img/image\ 1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.mouse_img_2 {
  background-image: url(/img/image\ 2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.footer {
  padding-top: 22px;
  height: 75px;
  background: #2F3132;
  font-style: normal;
  font-weight: normal;
  font-size: 7px;
  line-height: 8px;
  text-align: center;
  color: #C7C8C8;
}

/* Tablet */

@media (min-width:768px) {
  .top {
    padding-bottom: 80px;
  }
  .header_logo {
    width: 240px;
  }
  .top_img {
    margin-top: 159px;
    height: 514px;
    margin-bottom: 124px;
  }
  .navbar {
    padding-top: 54px;
  }
  .heading {
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 30px;
  }
  .text {
    font-size: 24px;
    line-height: 28px;
  }
  .text_margin {
    margin-left: 77px;
    margin-right: 77px;
  }
  .top_text-margin {
    margin-left: 159px;
    margin-right: 159px;
  }
  .top_arrow {
    margin-top: 76px;
  }
  .top_svg {
    width: 61px;
    height: 33px;
  }
  .bluetooth {
    padding-top: 80px;
    padding-bottom: 3px;
  }
  .bluetooth_heading {
    font-size: 150px;
    line-height: 176px;
  }
  .bluetooth_img {
    height: 597px;
    margin-left: 39px;
    margin-right: 19px;
  }
  .info_content {
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 30px;
  }
  .info_item-heading {}
  .info_item {
    min-height: 170px;
  }
  .info_heading {
    font-size: 24px;
    line-height: 28px;
  }
  .flow {
    padding-bottom: 498px;
    padding-left: 64px;
    padding-right: 65px;
  }
  .text_flow-p {
    margin-left: 0px;
    margin-right: 0px;
  }
  .flow_ol {
    display: flex;
    list-style-position: inside;
    padding-left: 0;
  }
  .text_flow {
    width: auto;
    border-left: 1px solid black;
    padding: 8px 21px 4px 28px;
    font-size: 20px;
    line-height: 23px;
  }
  .text_flow:first-child {
    border-left: none;
    padding-left: 0;
  }
  .text_flow:last-child {
    padding-right: 0;
  }
  .settings {
    padding-bottom: 70px;
  }
  .settings_slider {
    margin: 54px 198px 150px;
  }
  .heading_settings {
    margin-left: 64px;
    margin-right: 65px;
  }
  .text_settings-p {
    margin-left: 64px;
    margin-right: 65px;
  }
  .settings_content {
    margin-left: 64px;
    margin-right: 65px;
  }
  .settings_icons {
    margin-right: 104px;
    margin-left: 98px;
  }
  .settings_img {
    height: 35px;
  }
  .text_settings {
    font-size: 20px;
    line-height: 23px;
  }
  .text_mouse {
    margin-left: 0px;
    margin-right: 0px;
  }
  .mouse_text {
    padding-left: 67px;
    padding-right: 64px;
    padding-bottom: 50px;
  }
  .mouse_img {
    height: 549px;
  }
  .mouse_img_1 {
    background-image: url(/img/High_Resolution_JPG-MX\ Master\ Lifestyle\ 2602\ SpaceGrey\ for\ MAC\ 2.jpg);
  }
  .mouse_img_2 {
    background-image: url(/img/image\ 2-1.jpg);
  }
  .footer {
    padding-top: 47px;
    font-size: 14px;
    line-height: 16px;
    height: 150px;
  }
}

@media (min-width:1024px) {
  .center {
    padding-left: calc(50% - 580px);
    padding-right: calc(50% - 580px);
  }
  .header {
    height: 100px;
    display: flex;
    align-items: center;
    background: #2F3132;
  }
  .heading {
    margin-bottom: 35px;
    font-size: 36px;
    line-height: 42px;
  }
  .text {
    font-size: 20px;
    line-height: 23px;
  }
  .header_logo_dark {
    display: none;
  }
  .header_logo_white {
    display: block;
    width: 150px;
  }
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
  }
  .navbar-light .navbar-nav .nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
  }
  .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    justify-content: space-between;
    padding: 0;
  }
  .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border-bottom: 1px solid white;
  }
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
  }
  .navbar-light .navbar-nav .nav-link {
    padding-left: 0;
    padding-right: 0;
  }
  .nav-item {
    padding-left: 21px;
    padding-right: 21px;
    border-right: 1px solid #494949;
  }
  .nav-item:first-child {
    padding-left: 0;
  }
  .nav-item:last-child {
    padding-right: 0;
    border: none;
  }
  .top_img {
    margin-top: 20px;
    height: 671px;
    padding-top: 80px;
    margin-bottom: 8px;
  }
  .top_arrow {
    margin-top: 49px;
  }
  .bluetooth {
    padding-bottom: 80px;
  }
  .bluetooth_img {
    height: 427px;
    background: url(/img/High_Resolution_PNG-MX\ Master\ 3\ FRONT\ GRAPHITE\ 1.png) no-repeat 0 119px, url(/img/High_Resolution_PNG-MX\ Master\ 3\ LEFT\ GRAPHITE\ 2.png) no-repeat right 119px;
    margin-left: 0;
    margin-right: 0;
  }
  .center_bluetooth {
    padding-left: calc(50% - 622px);
    padding-right: calc(50% - 622px);
  }
  .bluetooth_heading {
    display: flex;
    justify-content: center;
    font-size: 96px;
    line-height: 112px;
  }
  .bluetooth_heading_day_mini {
    padding-top: 45px;
  }
  .bluetooth_heading_day {
    padding-left: 74px;
    font-size: 300px;
    line-height: 352px;
  }
  .info {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .info_text {
    width: 765px;
    margin: auto;
  }
  .info_item {
    min-height: 140px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .info_item-heading {
    margin-bottom: 5px;
  }
  .info_slider {
    padding-left: calc(50% - 640px);
    padding-right: calc(50% - 640px);
  }
  .text_info {
    width: 765px;
    margin: auto;
  }
  .flow {
    padding-bottom: 870px;
  }
  .flow_center {
    padding-left: calc(50% - 479px);
    padding-right: calc(50% - 479px);
  }
  .flow_ol {
    margin-left: 15px;
  }
  .settings {
    padding-bottom: 100px;
  }
  .settings_slider {
    display: none;
  }
  .text_settings-p {
    width: 958px;
    margin: auto;
  }
  .settings_slider-img {
    display: flex;
    justify-content: center;
    margin-top: 71px;
  }
  .settings_content {
    width: 749px;
    margin: auto;
  }
  .mouse {
    display: flex;
    flex-wrap: wrap;
  }
  .mouse_center {
    padding-left: calc(50% - 655px);
    padding-right: calc(50% - 655px);
  }
  .mouse_item {
    height: 557px;
    width: 50%;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .mouse_text_1 {
    padding-right: 217px;
    order: 2;
  }
  .mouse_text_1 .heading {
    text-align: left;
  }
  .mouse_text_1 .text {
    text-align: left;
  }
  .mouse_text_2 {
    padding-left: 217px;
    order: 3;
  }
  .mouse_text_2 .heading {
    text-align: right;
  }
  .mouse_text_2 .text {
    text-align: right;
  }
  .mouse_img_1 {
    background-image: url(/img/High_Resolution_JPG-MX\ Master\ Lifestyle\ 2602\ SpaceGrey\ for\ MAC\ 2.png);
    order: 1;
  }
  .mouse_img_2 {
    order: 4;
    background-image: url(/img/image\ 2\ \(1\).png);
  }
}